_test.ipynb
JUNK_DATA_PATH/
junk_data
.pypi-token
.commit_log
.vscode/
__pycache__/
**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/

.coverage
htmlcov/

build/
dist/
muutils.egg-info/

# setup_build.sh

