# local stuff (pypi token, commit log)
.meta/local/**
.coverage.*

# this one is cursed
tests/unit/validate_type/test_validate_type_GENERATED.py
# test notebook
_test.ipynb
# junk data
JUNK_DATA_PATH/
junk_data
tests/_temp/

.vscode/
# caches
__pycache__/
**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/

# coverage
.coverage

# build
build/
dist/
muutils.egg-info/