[tool.poetry]
name = "muutils"
version = "0.6.12"
description = "miscellaneous python utilities"
license = "GPL-3.0-only"
authors = ["mivanit <mivanits@umich.edu>"]
readme = "README.md"
classifiers=[
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Topic :: Utilities",
    "Typing :: Typed",
]
repository = "https://github.com/mivanit/muutils"
documentation = "https://mivanit.github.io/muutils/"

[tool.poetry.dependencies]
python = "^3.8"
# [array]
numpy = [
    { version = "^1.24.4", optional = true, markers = "python_version < '3.9'" },
    { version = "^1.26.4", optional = true, markers = "python_version >= '3.9'" },
]
torch = { version = ">=1.13.1", optional = true }
jaxtyping = { version = "^0.2.12", optional = true }
# [notebook]
ipython = { version = "^8.20.0", optional = true, python = "^3.10" }
# [zanj]
zanj = { version = "^0.3.0", optional = true, python = "^3.10" }

[tool.poetry.group.dev.dependencies]
# typing
mypy = "^1.0.1"
# tests & coverage
pytest = "^8.2.2"
pytest-cov = "^4.1.0"
coverage-badge = "^1.1.0"
# for testing plotting
matplotlib = "^3.0.0"
plotly = "^5.0.0"
# generating docs
pdoc = "^14.6.0"

[tool.poetry.group.lint.dependencies]
pycln = "^2.1.3"
ruff = "^0.4.8"


[tool.poetry.extras]
array_nb_zanj = ["numpy", "torch", "jaxtyping", "ipython", "zanj"]
array = ["numpy", "torch", "jaxtyping"]
# special group for CI, where we install cpu torch separately
array_no_torch = ["numpy", "jaxtyping"]
notebook = ["ipython"]
zanj = ["zanj"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

# [[tool.poetry.source]]
# name = "torch_cpu"
# url = "https://download.pytorch.org/whl/cpu"
# priority = "explicit"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::muutils.nbutils.configure_notebook.UnknownFigureFormatWarning", # don't show warning for unknown figure format
    "ignore::muutils.nbutils.configure_notebook.PlotlyNotInstalledWarning", # don't show warning for missing plotly
    "ignore::muutils.json_serialize.serializable_dataclass.ZanjMissingWarning", # don't show warning for missing zanj (can't have as a dep since zanj depends on muutils)
]

[tool.ruff]
# Exclude the directories specified in the global excludes
exclude = ["tests/input_data", "tests/junk_data", "muutils/_wip"]

[tool.pycln]
all = true
exclude = ["tests/input_data", "tests/junk_data", "muutils/_wip"]

[tool.mypy]
exclude = ["tests/input_data", "tests/junk_data", "muutils/_wip"]
show_error_codes = true

[tool.pdoc]
warnings_ignore = [
    "Error parsing type annotation .* for muutils\\..*\\. Import of np failed:",
    "Error parsing type annotation .* for muutils\\..*\\. Import of JsonSerializer failed:",
    "Error parsing type annotation .* for muutils\\..*\\. Import of StatCounter failed:",
    "Error parsing type annotation .* for muutils\\..*\\. Import of Union failed:"
]