[tool.poetry]
name = "muutils"
version = "0.4.2"
description = "A collection of miscellaneous python utilities"
license = "GPL-3.0-only"
authors = ["mivanit <mivanits@umich.edu>"]
readme = "README.md"
classifiers=[
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
]
repository = "https://github.com/mivanit/muutils"

[tool.poetry.dependencies]
python = "^3.10"
torch = "^1.13.1"
numpy = "^1.22.4"
jaxtyping = "^0.2.12"
pandas = "^1.5.3"


[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
black = "^23.1.0"
pylint = "^2.16.4"
pycln = "^2.1.3"
isort = "^5.12.0"
mypy = "^1.0.1"
pytest-cov = "^4.1.0"
coverage-badge = "^1.1.0"
matplotlib = "^3.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pycln]
all = true
exclude = ["_wip", "tests/input_data"]

[tool.isort]
profile = "black"
ignore_comments = false
extend_skip = ["_wip", "tests/input_data"]

[tool.black]
extend-exclude = ["_wip", "tests/input_data"]

[tool.mypy]
exclude = ['_wip']
show_error_codes = true
