name: Checks

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with: 
          fetch-depth: 0

      - name: Install linters
        run: pip install pycln isort black

      - name: Run Format Checks
        run: make check-format

  test:
    name: Test and Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        versions:
          - python: "3.10"
            torch: "1.13.1"
          - python: "3.10"
            torch: "2.0.1"
          - python: "3.11"
            torch: "2.0.1"
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with: 
          fetch-depth: 0

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.versions.python }}

      - name: Install dependencies
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          poetry lock --check
          poetry add torch@${{ matrix.versions.torch }}
          poetry install --all-extras

      - name: tests
        run: make test

      - name: lint
        run: make lint
