name: Checks

on:
  pull_request:
    branches:
      - main
      - "*"
  push:
    branches:
      - main

jobs:
  lint:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with: 
          fetch-depth: 1

      - name: install format tools
        run: pip install -r .meta/requirements/requirements-lint.txt

      - name: Run Format Checks
        run: make format-check RUN_GLOBAL=1
  
  check-deps:
    name: Check dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: set up uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: check dependencies
        run: make dep-check
  
  test:
    name: Test and Lint
    runs-on: ubuntu-latest
    # needs: [lint, check-deps] # for conditionally running this job
    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        pkg:
          - group: "legacy"
            torch: "1.13.1"
            numpy: "1.24.4"
            pandas: "2.0.3"
            pillow: "10.4.0"
          - group: "latest"
            torch: ""
            numpy: ""
            pandas: ""
            pillow: ""
        exclude:
          - python: "3.12"
            pkg:
              group: "legacy"
          - python: "3.13"
            pkg:
              group: "legacy"
          - python: "3.14"
            pkg:
              group: "legacy"
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with: 
          fetch-depth: 1

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: set up uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: install
        run: make setup

      - name: Install different pytorch version
        if: ${{ matrix.pkg.torch != '' && matrix.python != '3.14' }}
        run: |
          uv pip install torch==${{ matrix.pkg.torch }}+cpu --extra-index-url https://download.pytorch.org/whl/cpu
      
      - name: Install legacy package versions
        if: ${{ matrix.pkg.group == 'legacy' }}
        run: uv pip install numpy==${{ matrix.pkg.numpy }} pandas==${{ matrix.pkg.pandas }} pillow==${{ matrix.pkg.pillow }}

      - name: tests
        run: make test UV_NOSYNC=1

      # - name: tests in strict mode
      #   # TODO: until zanj ported to 3.8 and 3.9
      #   if: ${{ matrix.python != '3.8' && matrix.python != '3.9' }}
      #   run: make test WARN_STRICT=1

      - name: "check typing"
        if: ${{ matrix.python != '3.8' }}
        run: make typing UV_NOSYNC=1

      - name: "check typing (legacy: log only, always pass)"
        if: ${{ matrix.python == '3.8' }}
        run: make typing UV_NOSYNC=1 || true
